{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>채기모 는 거꾸로 하면</h1>

        <p>
            <img width="150" src="https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xat1/t51.2885-19/s150x150/12132695_910889762338579_18057682_a.jpg"/>

        </p>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <h1>모기채</h1>

        <p>
            <img width="150" src="https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xat1/t51.2885-19/s150x150/12132695_910889762338579_18057682_a.jpg"/>

        </p>
    </div>
</div>
{%endblock%}